<h1>Witamy!</h1>

<p>
    Dziękujemy za utworzenie konta na kompozycjecmentarne.pl <br><br>
    W celu aktywowania swojego konta i dokończenia rejestracji kliknij w poniższy link:<br><br>
    <a href="{{ signedUrl|raw }}">Potwierdź tutaj.</a><br><br>
    Informujemy, że powyższy link straci ważność w {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }} od daty wysłania.<br><br>
</p>

<p>

    Wiadomość została wysłana automatycznie - nie odpisuj na nią.<br><br><br><br>

    Pozdrawiamy<br><br>
    Zespół DANMAL
</p>
