#wyceny-table td, #wyceny-table th{
    padding: 1px;
}

#wyceny-table .form-group {
    padding: 1px 0;
}

/*#wyceny-table tr td:not(:first-child) {*/
/*    vertical-align: middle;*/
/*}*/

#wyceny-table tr {
    border-bottom: 2px solid black;
}
.bg-custom-green {
    background-color: #C9E4C9 !important;
}
.bg-custom-red {
    background-color: #FFEBEE !important;
}
#wyceny * {
    font-weight: bold;
}
.sticky-image {
    position: sticky;
    top: 100px;
    background-color: white;
    z-index: 100;
}

.sticky-image h3 {
    text-align: center;
    margin-top: 0;
}

#wyceny-table td input, #hurtowe-table td input{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 4px;
    border: 1px solid black;
}

#hurtowe-table div.row>*, #wyceny-table div.row>*{
    padding-right: 0 !important;
}
/*wyrównanie całego formularza max do prawej na mobilnych*/
#new-Hurtowe-form .row, #edit-Hurtowe-form .row,#new-Wyceny-form .row, #edit-Wyceny-form .row{
    padding-right: 0;
    --bs-gutter-x: 0;
}

#suma-label {
    vertical-align: middle;
}


.rodzaje_kompozycji td{
    width: 50%;
}
div.rodzaje_kompozycji>*{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.rodzaje_kompozycji .form-check {
    display: inline-block !important;
}

#hurtowe-table td, #hurtowe-table th{
    padding: 1px;
    border: none;
}

#hurtowe-table .form-group {
    padding: 1px 0;
}

.table-hurtowe tr:nth-child(3n) {
    border-bottom: 15px solid #EAEAEAFF;
}
.table-hurtowe tr td{
    background-color: #EAEAEAFF;
}
.table-hurtowe .form-group input,
.table-hurtowe .form-group select,
.table-hurtowe div.ts-control > * {
    font-weight: bold;
    color: var(--form-input-text-color);
}

/*wozek druk*/
.wozek-druk {
    border: 1px solid;
}

#zestawienie-suma{
    border-top: 4px solid;
}
.zestawienie-druki{
    padding-left: 10px;
}

.gray {
    --bs-table-accent-bg: rgba(90, 90, 90, 0.2); /* Kolor troszeczkę ciemniejszy */
    color: var(--bs-table-striped-color); /* Zachowujemy kolor tekstu z poprzedniego stylu */
}


.more-gray {
    --bs-table-accent-bg: rgba(128, 128, 128, 0.6); /* Przykładowa wartość koloru - ciemniejszy o 30% */
    color: var(--bs-table-striped-color); /* Zachowujemy kolor tekstu z poprzedniego stylu */
}

.img-fluid {
    max-width: 100%;
}

.pastel-yellow,
.pastel-yellow *{
    background-color: #ffffcc;
    font-weight: bold;
}

.pastel-fiolet,
.pastel-fiolet * {
    background-color: #e6e6ff;
    font-weight: bold;
}

.zielony{
    font-weight: bold;
    background-color: #C9E4C9 !important;
}
div.naglowek{
    font-size: var(--font-size-xxl) !important;
}

.border input{
    border: 1px solid black;
}

/* Styl dla warningu */
.alert {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.my-4 {
    flex: 1;
}

.klient {
    flex: 1;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}
div.edycja_zdjecia .custom-file-label{
    padding: 3px 100px 3px 7px!important;
}

div.podglad{
    align-items: center!important;
}

.d-flex-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie wzdłuż osi poziomej */
    align-items: center; /* Wyśrodkowanie wzdłuż osi pionowej */
}
div#some-custom-id > *{
    font-weight: bold !important;
}
.dodajPolprodukt .form-check {
    padding-left: 0px !important;
    margin-top: 5px;
}
.blokuj{
    float:left;
    text-align: right;
    padding-top:5px !important;
}
div.has-error{
    background-color: crimson !important;
}

div.thick-separator {
    padding: 0 !important;
}

div.thick-separator hr {
    margin: 0px 5px;
    padding: 0;
    border: none;
    border-top: 2px solid black; /* Gruba linia */
}
div.bg-my-dark {
    background-color: #DCDCDC;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.bg-my-dark input[type="text"],
div.bg-my-dark input[type="number"],
div.bg-my-dark select {
    background-color: #F2F2F2;
}


body.ea-edit-Zeszyt .content-header, body.ea-new-Zeszyt .content-header {
    position: sticky;
    top: -20px;
    z-index: 999;
    background: var(--body-bg);
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0 16px;
}


body.ea-edit .content-header, body.ea-new .content-header
{
    position: sticky;
    top: -20px;
    z-index: 999;
    background: var(--body-bg);
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0 16px;
}
@media (max-width: 768px) {
    div#tytul_wycena{
        display: none;
    }
    div.naglowek {
        font-size: 15px !important;
    }
}

#edit-Wyceny-form div[id^="Wyceny_skladowa"], #new-Wyceny-form div[id^="Wyceny_skladowa"]{
    border: 1px solid black !important;
    height: 100%
}

#nazwa_kompozycji label{
    font-weight: bold;
}
#nazwa_kompozycji input{
    border: 1px solid black;
}

.bg-custom-red td {
    background-color: #FFEBEE !important;
    font-weight: bold;
}

.bg-custom-green td {
    background-color: #C9E4C9 !important;
    font-weight: bold;
}

#wyceny-table td{
 background-color: #F3F3F3FF;
}

#pozostale input,
#pozostale select,
#pozostale .ts-wrapper,
#pozostale .edycja_zdjecia{
    border: 1px solid black !important;
}


/* Kolor zielony dla placeholdera */
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #999;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #999;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #999;
}


 .disabled {
     background-color: #f0f0f0;
     pointer-events: none;
 }



/* Elementy akordeonu */
.accordion-item {
    margin-bottom: 10px;
}

/* Elementy akordeonu, które są wypełnione */
.accordion-item.filled .accordion-button {
    background-color: lightgray; /* Dodaj dowolne style dla rozwiniętych wpisów */
}

/* Elementy akordeonu, które są zwinięte */
.accordion-item:not(.filled) .accordion-button {
    background-color: lightblue; /* Dodaj dowolne style dla zwiniętych wpisów */
}

#edit-Zeszyt-form div.ts-wrapper .ts-control, #new-Zeszyt-form div.ts-wrapper .ts-control {
    height: 36px !important;
}

#accordionZeszyt input[type="number"],
#accordionZeszyt input[type="text"],
#accordionZeszyt .datetime-widget input[type="date"],
#accordionZeszyt .form-select,
#accordionZeszyt div[id^="Zeszyt_rodzaj"] {
    border: 1px solid black !important;
}

#accordionZeszyt .accordion-body {
    background-color: #f2f2f2;
}


#new-Hurtowe-form .ts-wrapper,
#edit-Hurtowe-form .ts-wrapper,
#edit-Hurtowe-form div[id^="Hurtowe_rodzaj"],
#new-Hurtowe-form div[id^="Hurtowe_rodzaj"] {
    border: 1px solid black !important;
}
#edit-Hurtowe-form .ts-wrapper,
#new-Hurtowe-form .ts-wrapper
{
    height: 34px;
}

#accordionZeszyt .moja-nazwa{
    margin-top: -16px;
}

@media (max-width: 768px) {
    .dodajPolprodukt *{
        padding:0 !important;
        margin: 0 !important;
        font-weight: normal !important;

    }
    .dodajPolprodukt .form-check-input{
        float:left;
    }
    .dodajPolprodukt input{
        margin-top:5px !important;
    }
}

