{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}DANMAL - Panel{% endblock %}
{% block page_actions %}
{#    <a class="btn btn-primary" href="...">Some Action</a>#}
{% endblock %}

{% block main %}
<h4>ElasticSearch!</h4>



{% endblock %}